.imageArea {
  flex: 1;
  margin: 48px 16px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}

.imageArea.dragging {
  cursor: grabbing;
}
